/* ==========================================================================
   # BILLBOARD / PARTIAL
   ========================================================================== */

.billboard {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.billboard__title {
    margin-bottom: 65px;
}

.trustpilot__wrapper {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.trustpilot {
    color: $color-text-white;
    white-space: nowrap;
}

.trustpilot__logo {
    margin-right: 33px;
}

.trustpilot__stars {
    margin-right: 40px;
}