/* ==========================================================================
   # CONTINIOUS CAROUSEL / PARTIAL
   ========================================================================== */

.continious-carousel__wrapper {
    transition-timing-function:linear!important; 
    padding: 30px 0;
    margin-bottom: 190px;
}
   
.continious-carousel__slide {
    width: 14vw;
    letter-spacing: 0.19em;
    overflow: hidden;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-family: $heading-family;
}
