// ==========================================================================
// # FAQ / PARTIAL
// ==========================================================================

.faq {
    margin-bottom: 80px;
}

.faq__header {
    margin-bottom: 140px;
}

.faq__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -80px;
}

.faq__row {
    width: 50%;
	margin-bottom: 100px;
    padding: 0 80px;
}

.faq__text {
    width: 90%;
}

.faq__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid $color-bg-black;
    display: flex;
    align-items: center;
    justify-content: center;
	transform: rotate(180deg);
	transition: all 400ms cubic-bezier(.46,-.41,.3,1.52);
    
    svg {
		transition: all 400ms cubic-bezier(.46,-.41,.3,1.52);
    }
}

.faq__border {
	border-bottom: 1px solid $color-border-gray-3;
	padding-bottom: 15px;

	@include bp(medium) {
		padding-bottom: 32px;
	}
}

.faq__question {
	cursor: pointer;

	&.active {

		.faq__icon {
			background-color: $color-bg-black;
		}

		svg {
            transform: rotate(180deg);

			path {
				fill: $color-bg-white;
			}
		}

		& + .faq__answer {
			margin-top: 45px;
		}
	}
}

.faq__title {
	justify-content: space-between;
	align-items: center;

	p {
		padding-right: 30px;
	}
}

.faq__answer {
	height: 0px;
	overflow: hidden;
	transition: $global-transition;
}

.faq__description {
	width: 100%;
}

.faq__careers--link {
	width: 100%;
	display: flex;
}

.site-link__faq {
	margin-top: 3rem;
	margin-bottom: 6rem;

	.faq__question {
		padding: 1.3rem 0 1rem;
	}
}
