// ==========================================================================
// # U TEXT / PARTIAL
// ==========================================================================

.u-text {
    padding: 180px 0 200px;
}

.u-text__header {
    max-width: 500px;
    margin: 0 auto;
}

.u-text__title {
    margin-bottom: 44px;
}

.u-text__copy {
    margin-bottom: 90px;
}

.u-text__decoration {
	position: absolute;
	opacity: 0;
	transition-property: opacity;
	transition-timing-function: ease-in;

	&.is-inview {
		opacity: 1;
	}
}

.u-text__decoration-1 {
	display: none;
	max-width: 360px;

	@include bp(xlarge) {
		transition-delay: calc((#{$decorartion}) * 4);
		transition-duration: calc((#{$decorartion}) * 2);
		display: block;
		top: 0;
		left: 200px;
	}
}

.u-text__decoration-2 {
	display: none;
	max-width: 170px;

	@include bp(xlarge) {
		transition-delay: calc((#{$decorartion}) * 8);
		transition-duration: calc((#{$decorartion}) * 6);
		display: block;
		top: 80px;
		right: 220px;
	}
}

.u-text__decoration-3 {
	display: none;
	max-width: 200px;

	@include bp(xlarge) {
		transition-delay: calc((#{$decorartion}) * 8);
		transition-duration: calc((#{$decorartion}) * 6);
		display: block;
		top: 50%;
		transform: translateY(-50%);
		left: 100px;
	}
}

.u-text__decoration-4 {
	left: 50%;
	top: 100px;
	max-width: 80px;

	@include bp(xlarge) {
		transition-delay: calc((#{$decorartion}) * 6);
		transition-duration: calc((#{$decorartion}) * 4);
		left: auto;
		right: 0;
	}
}

.u-text__decoration-5 {
	top: 80px;
	right: 0;
	max-width: 170px;

	@include bp(xlarge) {
		transition-delay: calc((#{$decorartion}) * 7);
		transition-duration: calc((#{$decorartion}) * 5);
		top: auto;
		right: auto;
		display: block;
		bottom: 70px;
		left: 280px;
	}
}

.u-text__decoration-6 {
	top: 80px;
	left: 0;
	max-width: 320px;

	@include bp(xlarge) {
		transition-delay: calc((#{$decorartion}) * 5);
		transition-duration: calc((#{$decorartion}) * 3);
		left: auto;
		top: auto;
		bottom: 70px;
		right: 60px;
	}
}
