// ==========================================================================
// # F-IMAGES / PARTIAL
// ==========================================================================

.f-images {
    margin-bottom: 190px;
    background-color: $color-bg-white;
}

.f-images__wrapper {
    margin: 0 -37px;
}


.f-images__box {
    width: 50%;
    padding: 37px;
}

.f-images__right {
    display: flex;
    align-items: center;
}

.f-images__left {
    .f-images__content {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
}

.f-images__right {
    .f-images__content {
        height: 700px;
    }   
}

.f-images__content {
    position: relative;
    border-radius: 20px;
}

.f-images__content__inner {
    overflow: hidden;
    border-radius: 20px;
}



.f-images__decoration {
    position: absolute;
}

.f-images__decoration--one {
    right: -180px;
    bottom: 170px;
    z-index: $z-lvl-1;
    max-width: 280px;
}

.f-images__decoration--two {
    right: -150px;
    top: -60px;
    max-width: 280px;
}