// ==========================================================================
// # INSTA CAROUSEL / PARTIAL
// ==========================================================================

.insta-carousel__wrapper {
    height: 300px;
}

.insta-carousel {
    height: 100%;
}

.insta-carousel__box {
    position: relative;
    overflow: hidden;
    height: auto;
}

.insta-carousel__curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-bg;
    transition-property: transform;
	transition-timing-function: ease-in;
    transition-duration: calc((#{$decorartion}) * 2);
    transition-delay: calc((#{$decorartion}) * 10);

    &.is-inview {
		transform: translateX(-100%);
	}
}

.insta-carousel__curtain--2 {
    transition-delay: calc((#{$decorartion}) * 8);
}

.insta-carousel__curtain--3 {
    transition-delay: calc((#{$decorartion}) * 6);
}

.insta-carousel__curtain--4 {
    transition-delay: calc((#{$decorartion}) * 4);
}

.insta-carousel__curtain--5 {
    transition-delay: calc((#{$decorartion}) * 2);
}

.insta-carousel__navigation__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-lvl-1;
    display: flex;
    justify-content: space-between;
}

.insta-carousel__prev,
.insta-carousel__next {
    width: 101px;
    height: 101px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $z-lvl-1;
    opacity: 1;
    transition: $global-transition;
    cursor: pointer;
    

    &.swiper-button-disabled {
        opacity: 0;
    } 

    svg,
    path {
        width: 38px;
        height: 38px;
        fill: $color-bg-white;
    }
}

.insta-carousel__prev {
    left: 0;

    svg {
        transform: rotate(180deg);
    }
}

.insta-carousel__next {
    right: 0;
}

.insta-carousel__img {
    height: 100%;
    object-fit: cover;
}