/* ==========================================================================
   # TASTY MENU / PARTIAL
   ========================================================================== */

.tasty-menu__wrapper {
    padding: 115px 0 94px;

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: $z-lvl-1;
    }

    .swiper-button-next {
        right: 0;
    }
}

.tasty-menu__container {
    position: relative;
}

.tasty-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.tasty-menu__heading {
    max-width: 390px;
    text-align: center;
    margin: 0 auto 115px;
}

.tasty-menu__slide {
    width: 12vw;
}

.tasty-menu__content {
    background-color: $color-bg-white;
    padding: 61px 46px 45px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.tasty-menu__image {
    margin-bottom: 46px;
    margin-left: 20px;
}

.tasty-menu__title {
    margin-bottom: 14px;
    max-width: 273px;
}

.tasty-menu__text {
    margin-bottom: 32px;
}

.tasty-menu__info {
    background-color: $color-bg;
    border-radius: 40px;
    padding: 14px 19px;
    display: inline-block;
}

.tasty-menu__prev,
.tasty-menu__next {
    width: 101px;
    height: 101px;
    background-color: rgba(18, 11, 49, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: $global-transition;
    cursor: pointer;

    &.swiper-button-disabled {
        opacity: 0;
    } 

    svg,
    path {
        width: 38px;
        height: 38px;
        fill: $color-bg-white;
    }
}

.tasty-menu__prev {
    svg {
        transform: rotate(180deg);
    }
}

.tasty-menu__button__wrapper {
    text-align: center;
}

.tasty-menu__button {
    margin: 60px auto 0;
}