// ==========================================================================
// # PRICING / PARTIAL
// ==========================================================================
 
.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    @include bp(xlarge) {
        padding-bottom: 180px;
    }
}
 
.pricing__content {
    width: 100%;
}
 
.pricing__header {
    margin-bottom: 54px;
}

.pricing__list {
    margin: 0;
    padding: 0;
    transition: all 1s ease;
    animation: fadeEffect 0.6s ease;
    width: 100%;
    font-size: 16px;
}

.pricing__box {
    width: 100%;
    position: relative;
    padding: 80px 0 110px;
    transition: all .2s;
    top: 0;
    transition: $global-transition;
    border-radius: 30px;

    .pricing__box__inner {
        border-right: 0;
        transition: $global-transition;
    }
    
    @include bp(medium) {
        width: 50%;

        .pricing__box__inner {
            padding: 0 65px;
            border-right: 1px solid $color-border-gray-2;
        
        }

        &:nth-child(2) {
            .pricing__box__inner {
                border-right: 0;
            }
        }

        &:last-of-type {
            .pricing__box__inner {
                border-right: 0;
            }
        }
    }
    
    @include bp(large) {
        width: 25%;
        padding: 80px 0 110px;
        
        .pricing__box__inner {
            padding: 0 65px;
        }

        &:nth-child(2) {
            .pricing__box__inner {
                border-right: 1px solid $color-border-gray-2;
            }
        }
    }

    @include bp(xlarge) {
        &:hover {
            background-color: $color-bg-black;

            .pricing__box__inner {
                border-right-color: $color-bg-black;
            }

            .pricing__price__amount {
                color: $color-text-white;
            }

            .pricing__main__title {
                color: $color-text-white;
                text-decoration: underline;
            }

            .pricing__choose-button {
                background-color: $color-bg-primary;
                color: $color-black-text;
                border: 1px solid $color-bg-primary;
            }
        }
    }
}


.pricing__price__wrapper {
    margin-bottom: 70px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.pricing__price {
    display: inline-block;
    text-align: left;
}

.pricing__popular {
    background-color: $color-bg-primary;
    padding: 13px 22px;
    border-radius: 40px;
}

.pricing__main {
    text-align: left;
}

.pricing__main__intro {
   margin-bottom: 18px; 
}

.pricing__main__title {
    margin-bottom: 90px;
}

.pricing__choose-button {
    transition: $global-transition;
    width: 123px;
    height: 123px;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    border: 1px solid $color-border-black;
}

.tabcontent {
    display: none;
    min-height: 180px;
}
 
.tabcontent.active {
    transition: all 1s ease;
    display: block;
}
 
@keyframes fadeEffect {
    from {
        opacity: 0;
        margin-left: 30px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}


/* Toggle Button
   ========================================================================== */
.pricing__buttons {
    position: relative;
    display: flex;
}

.pricing__buttons:after {
    content: "";
    position: absolute;
    width: 33.33%;
    top: 0;
    transition: all cubic-bezier(.88, -.35, .565, 1.35) .4s;
    border-radius: 40px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
    background-color: $color-bg-primary;
    // border: 1px solid $color-border-gray;
    height: 100%;
    z-index: 0;
}

.pricing__buttons.left:after {
    left: 0;
}

.pricing__buttons.center:after {
    left: 33.33%;
}
  
.pricing__buttons.right:after {
    left: 66.66%;
}

.pricing__buttons .tablinks {
    width: 33.33%;
    padding: 13px 0;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: color 200ms;
    font-size: 16px;
    color: $color-text-gray;
}

.pricing__buttons .tablinks.active p {
    color: $color-text;
    font-family: $heading-family;
}

.pricing__buttons__wrapper {
    padding: 7px 8px;
    margin-bottom: 50px;
    border-radius: 40px;
    border: 1px solid $color-border-gray;
    width: 100%;
    max-width: 443px;
    margin-left: auto;
    margin-right: auto;

    @include bp(large) {
        margin-bottom: 140px;
    }
}