/* ==========================================================================
   # SCROLL ICONS / PARTIAL
   ========================================================================== */

.scroll-icons__wrapper {
    padding: 210px 0 190px;
}

.scroll-icons {
    justify-content: flex-end;
    position: relative;
    left: 22%;
}

.scroll-icons__box {
    margin-right: 266px;
    min-width: 407px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scroll-icons__title {
    margin-bottom: 43px;
}