// ==========================================================================
// # TESTIMONIAL / PARTIAL
// ==========================================================================

.testimonial {
    margin-bottom: 180px;
    padding: 150px 0;

    .testimonial__header {
        margin-bottom: 190px;
    }

    .testimonial__container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonial__rate {
        margin-bottom: 44px;
    }

    .testimonial__text {
        margin-bottom: 60px;
    }

    .testimonial__copy {
        max-width: 615px;
        margin-bottom: 86px;
    }

    .swiper-slide-prev {
        opacity: $global-opacity;
    }

    .swiper-slide-active + .swiper-slide {
        opacity: $global-opacity;
    }
}

.testimonial__navigation__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-lvl-1;
    display: flex;
    justify-content: space-between;
}

.testimonial__prev,
.testimonial__next {
    width: 101px;
    height: 101px;
    background-color: rgba(18, 11, 49, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $z-lvl-1;
    opacity: 1;
    transition: $global-transition;
    cursor: pointer;
    

    &.swiper-button-disabled {
        opacity: 0;
    } 

    svg,
    path {
        width: 38px;
        height: 38px;
        fill: $color-bg-white;
    }
}

.testimonial__prev {
    left: 0;

    svg {
        transform: rotate(180deg);
    }
}

.testimonial__next {
    right: 0;
}


.testimonial__trustpilot__wrapper {
    display: flex;
}

.testimonial__trustpilot {
    color: $color-black;
    white-space: nowrap;
}

.testimonial__trustpilot__logo {
    margin-right: 46px;

    path {
        fill: $color-bg-black;
    }
}

.testimonial__trustpilot__stars {
    margin-right: 110px;
}