// ==========================================================================
// # M TEXT / PARTIAL
// ==========================================================================

.m-text {
    background-color: $color-bg-white;
}

.m-text__inner {
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
}

.m-text__title {
    margin-bottom: 43px;
}