/* ==========================================================================
   # U - PROS / PARTIAL
   ========================================================================== */

.u-pros {
    position: relative;
    background-color: $color-bg-white;
    padding-bottom: 120px;
    padding-top: 120px;
}

.u-pros__inner {
    justify-content: space-between;
}


.hover-this {
    padding: 170px 0 170px;
    text-align: center;
    position: relative;
    z-index: $z-lvl-1;
    transition: all 0.3s ease;
    background-color: $color-bg-white;
    white-space: nowrap;


    span {
        display: inline-block;
        transition: transform 0.2s linear;
        mix-blend-mode: difference;
        color: $color-text-white;
    }
}

.hover-this__inner {
    padding:  60px 20px;
}

.u-pros__first {
    text-align: left;
    padding-left: 30px;
    width: 30%;
}

.u-pros__second {
    width: 40%;

}

.u-pros__third {
    text-align: right;
    padding-right: 30px;
    width: 30%;
}

.u-pros__video {
    filter: invert(1);
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: transparent;
    transition: transform 0.20s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, opacity 0.25s ease-in-out;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: $z-lvl-2;
    object-fit: cover;
    pointer-events: none;
    box-sizing: content-box;
    width: 123px;
    height: 123px;
    transform: scale(0);
    opacity: 0;

    .u-pros__video__content {
        width: 123px;
        height: 123px;
        object-fit: cover;
        transform: scale(0);
        transition: transform 0.20s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }
}

.u-pros__composition {
    opacity: 1;
    background-color: rgba(255, 199, 100, 0.9);
    border-radius: 50%;
    mix-blend-mode: normal;
    filter: invert(0);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

    &::after {
        content: "See Composition";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: $heading-family;
    }

    .u-pros__video {
        mix-blend-mode: normal;
        filter: invert(0);
    }
}

.u-pros__video__content {
    border-radius: 50%;
}

.u-pros__video--enter {
    background-color: #fff;
    opacity: 1;
    transform: scale(2);
    transition: transform 0.25s ease-in-out;

    .u-pros__video__content {
        transform: scale(2);
        transition: transform 0.25s ease-in-out;
        object-fit: cover;
    }
}

.u-pros__video--increase {
    transform: scale(3);

    .u-pros__video__content {
        transform: scale(3);
    }
}