// ==========================================================================
// # FOOTER
// ==========================================================================

.u-footer {
    background-color: $color-bg-black;
    padding: 160px 0 100px;
}

.u-footer__welcome {
    text-align: center;
    margin-bottom: 160px;
}

.u-footer__welcome__title {
    margin-bottom: 90px;
}

.u-footer__welcome__mail {
    display: inline-block;
    margin-bottom: 30px;
}

.u-footer__welcome__line {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: $color-bg-white;
    margin-bottom: 40px;
}

.u-footer__welcome__text {
    max-width: 600px;
    margin: 0 auto 45px;
}

.u-footer__welcome__subscribe {
    display: block;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    background-color: $color-bg-primary;
    color: $color-text;
    margin: 0 auto;
}

.u-footer__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;
}

.u-footer__ul {
    list-style: none;
}

.u-footer__li__title {
    margin-bottom: 45px;
}

.u-footer__li {
    margin-bottom: 34px;
    color: $color-gray-1;
    transition: $global-transition;

    &:hover {
        color: $color-text-white;
    }
}

.footer__privacy__cta {
    transition: $global-transition;

    &:hover {
        color: $color-text-white;
    }
}

.u-footer__contact {
    text-align: right;
}

.u-footer__phone {
    margin-bottom: 40px;
}

.u-footer__mail {
    margin-bottom: 64px;
}

.u-footer__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.u-footer__social__cta {
    margin-left: 44px;

    g {
        transition: $global-transition;
    }

    &:hover {
        g {
            opacity: 1;
        }
    }
}

.footer__details {
    display: flex;
    justify-content: space-between;
}

.footer__cards__ul {
    list-style: none;
    align-items: center;
}

.footer__cards__li {
    margin: 0 16px;
}
