/* ==========================================================================
   # BUTTONS
   ========================================================================== */

.u-btn {
    min-width: 118px;
    color: $color-text;
    padding: 20px 52px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    letter-spacing: -0.01em;
    transition: $btn-transition;
    font-family: $heading-family;
    background: $color-bg-primary;
    border: 2px solid $color-bg-primary;

    &:hover {
        color: $color-text;
        border: 2px solid $color-border;
        background: transparent;
    }
}

.u-btn--lg {
    max-width: 300px;
    width: 100%;
}

.cerchio {
    overflow: hidden;
}