/* ==========================================================================
   # HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


h1, h2, h3, h4, h5, h6, .heading-family {
    font-family: $heading-family;
    line-height: 0.9; 
    color: $color-text;
    font-weight: unset;
}

.heading-billboard { /* 105px */
    font-size: 2.8rem;
    line-height: 0.9; 
    letter-spacing: -0.08em;
    
    @include bp(xlarge) {
        font-size: 10.5rem;
    }
}

.heading-section { /* 72px */
    font-size: 2.8rem;
    line-height: 0.9; 
    letter-spacing: -0.08em;
    
    @include bp(xlarge) {
        font-size: 7.2rem;
    }
}

.heading-pros { /* 60px */
    font-size: 2.8rem;
    line-height: 0.9; 
    letter-spacing: -0.08em;
    
    @include bp(xlarge) {
        font-size: 6rem;
    }
}

.heading-content { /* 48px */
    font-size: 2.8rem;
    line-height: 0.9; 
    letter-spacing: -0.08em;
    
    @include bp(xlarge) {
        font-size: 4.8rem;
    }
}

.heading-popup { /* 30px */
    font-size: 2.8rem;
    line-height: 1.1; 
    letter-spacing: -0.06em;
    
    @include bp(xlarge) {
        font-size: 3.2rem;
    }
}

.heading-card { /* 30px */
    font-size: 2.8rem;
    line-height: 0.9; 
    letter-spacing: -0.06em;
    
    @include bp(xlarge) {
        font-size: 3rem;
    }
}

.heading-footer { /* 24px */
    font-size: 2rem;
    line-height: 0.9;
    letter-spacing: -0.02em;
    
    @include bp(xlarge) {
        font-size: 2.4rem;
    }
}


.heading-text { /* 20px */
    font-size: 1.7rem;
    line-height: 1.8;
    
    @include bp(xlarge) {
        font-size: 2.0rem;
    }
}

.heading-into { /* 18px */
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    
    @include bp(xlarge) {
        font-size: 1.8rem;
    }
}

.heading-tiny { /* 12px */
    font-size: 1.2rem;
    line-height: 1.1;
    
    @include bp(xlarge) {
        font-size: 1.2rem;
    }
}