/* ==========================================================================
   # PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: $color-text;
    font-size: 10px;
    line-height: 1.3; /* [1] */
    min-height: 100%; /* [3] */
    overflow-y: scroll; /* [2] */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: $text-family;
    font-size: 1.6rem;
    overflow: hidden;
}

.vh {
    @include hidden-visually();
}
