.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: $z-lvl-4;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
  
.cd-popup-container {
  position: relative;
  max-width: 1320px;
  width: 100%;
  background: $color-bg-white;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  transition-property: transform;
  transition-duration: 0.3s;
}
  
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 87px;
  right: 91px;
  width: 30px;
  height: 30px;
}

.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 26px;
  background-color: $color-bg-black;
}

.cd-popup-container .cd-popup-close::before {
  transform: rotate(45deg);
  left: 14px;
}

.cd-popup-container .cd-popup-close::after {
  transform: rotate(-45deg);
  right: 14px;
}

.is-visible .cd-popup-container {
  transform: translateY(0);
}

  @media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}


.cd-popup__header {
  display: flex;
  align-items: center;
  padding: 33px 90px;
  border-bottom: 1px solid $color-border-gray-4;
}

.cd-popup__header__image {
  width: 145px;
  height: 145px;
  object-fit: cover;
  margin-right: 64px;
}

.cd-popup__header__title {
  max-width: 440px;
}

.cd-popup__body {
  display: flex;
}

.cd-popup__body__left {
  padding: 50px 90px 100px 65px;
  width: 50%;
  border-right: 1px solid $color-border-gray-4;

  p {
    margin-bottom: 34px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.cd-popup__body__right {
  width: 50%;
  padding: 57px 67px 100px 64px;
}

.cd-popup__body__title {
  margin-bottom: 34px;
}

.cd-popup__body__neutrients__ul {
  display: flex;
  list-style: none;
}

.cd-popup__body__neutrients {
  margin-bottom: 66px;
}

.cd-popup__body__neutrients__title {
  margin-bottom: 27px;
}

.cd-popup__body__neutrients__li {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 26px;
  padding: 29px 16px 23px;
  border: 1px solid $color-border-gray-2;
  width: 85px;
}

.cd-popup__body__neutrients__icon {
  margin-bottom: 10px;
}

.cd-popup__body__ingredients__ul {
  display: flex;
  list-style: none;
}

.cd-popup__body__ingredients__title {
  margin-bottom: 35px;
}

.cd-popup__body__ingredients__li {
  width: 53px;
  text-align: center;
  margin-right: 38px;
}

.cd-popup__body__ingredients_img {
  width: 53px;
  height: 45px;
  object-fit: cover;
}