// ==========================================================================
// # U TEXT / PARTIAL
// ==========================================================================

.u-text {
	margin-bottom: 80px;

	@include bp(xlarge) {
		margin-bottom: 150px;
	}

	@include bp(full) {
		margin-bottom: 250px;
	}
}

.u-text--small-margin-bottom {
	margin-bottom: 60px;

	@include bp(xlarge) {
		margin-bottom: 80px;
	}

	@include bp(full) {
		margin-bottom: 120px;
	}
}

.u-text__decoration-padding {
	padding-top: 150px;

	@include bp(xlarge) {
		padding-top: 120px;
	}
}

.u-text--kontakt {
	margin-top: 80px;
	margin-bottom: 60px;

	@include bp(xlarge) {
		margin-top: 100px;
		margin-bottom: 80px;
	}

	@include bp(full) {
		margin-top: 150px;
		margin-bottom: 100px;
	}
}

.u-text__decoration {
	position: absolute;
}

.u-text__decoration-1 {
	display: none;

	@include bp(xlarge) {
		display: block;
		top: 0;
		left: 320px;
	}
}

.u-text__decoration-2 {
	display: none;

	@include bp(xlarge) {
		display: block;
		top: 0;
		right: 320px;
	}
}

.u-text__decoration-3 {
	display: none;

	@include bp(xlarge) {
		display: block;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}
}

.u-text__decoration-4 {
	left: 50%;
	top: 0;
	transform: translateX(-50%);

	@include bp(xlarge) {
		left: auto;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}
}

.u-text__decoration-5 {
	top: 80px;
	right: 0;

	@include bp(xlarge) {
		top: auto;
		right: auto;
		display: block;
		bottom: 70px;
		left: 150px;
	}
}

.u-text__decoration-6 {
	top: 80px;
	left: 0;

	@include bp(xlarge) {
		left: auto;
		top: auto;
		bottom: 70px;
		right: 150px;
	}
}

.title__header {
	text-align: center;
	margin-bottom: 65px;

	@include bp(large) {
		margin-bottom: 110px;
	}

	@include bp(full) {
		margin-bottom: 150px;
	}
}

.title__our-products {
	.title__header {
		margin: 40px 0;

		@include bp(large) {
			margin: 90px 0 110px;
		}

		@include bp(full) {
			margin: 120px 0 150px;
		}
	}
}
