// ==========================================================================
// # EDIT ACCOUNT / MY ACCOUNT
// ==========================================================================

.u-edit-account {
    width: 50%;
}

.u-edit-account__title {
    margin-bottom: 50px;
}