// ==========================================================================
// # LOGIN / MY ACCOUNT
// ==========================================================================

/* GENERAL
   ========================================================================== */

   	.woocommerce-account.login-page {
		background-color: $color-bg-white;
   	}

   .login-account {
	display: flex;
	flex-wrap: wrap;
	margin: 50px auto;
	justify-content: center;
	max-width: 720px;
	width: 100%;
	margin: 0 auto;

	@include bp (xlarge) {
		margin: 80px auto 120px;
	}

	.u-register,
	.u-login {
		width: 100%;
	}

	.u-login__inner,
	.u-register__inner {
		width: 100%;

		h2 {
			padding: 0 50px;
		}

		.u-login__form,
		.u-register__form {
			margin: 0;
			padding: 20px;

			@include bp (small) {
				padding: 50px;
			}
		}

		.form-row {
			margin-bottom: 20px;
		}

		label {
			color: $color-text-gray;

			.required {
				color: $color-text-gray;
			}

			&.hidden {
				display: none;
			}
		}

		input {
			width: 100%;
			border: 0;
			border-bottom: 1px solid #eeeeee;
			padding-bottom: 19px;
		}

		.afreg_extra_fields {

			h3 {
				display: none;
			}

			#afreg_additionalshowhide_3064 {
				label {
					display: none;
				}
			}

			#afreg_additionalshowhide_3066,
			#afreg_additionalshowhide_3067 {
				position: relative;
				.checkmark {
					position: absolute;
					top: 2px;
					left: 0;
					height: 12px;
					width: 12px;
					background-color: $color-white;
					border-radius: 50%;
					border: 1px solid rgba($color-black, .2);
					z-index: 1;
				}

				label {
					padding-left: 20px;
					z-index: 2;
				}

				input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}

				&:hover input ~ .checkmark {
					background-color: $color-white;
				}

				input:checked ~ .checkmark {
					background-color: black;
					background-clip: content-box;
					border-color: $color-black;
					padding: 2px;
				}
			}
		}

		.woocommerce-form-login__rememberme {
			display: none;
		}

	}

	.u-register {
		display: none;
	}

	/* Login
   ========================================================================== */
	.u-login__inner {
		form.login {
			border: 0;
		}

		.u-login__heading {
			text-align: center;
			margin-bottom: 100px;
		}

		.lost_password {
			text-align: right;
			margin-top: 20px;
			margin-bottom: 70px;

			a {
				text-decoration: underline;
			}
		}

		.u-login__button {
			width: 100%;
			display: inline-block;
			padding: 16px 52px;
			border-radius: 30px;
			transition: $global-transition;
			white-space: nowrap;
			outline: 0;
			line-height: initial;
			color: $color-text-white;
			border: 2px solid $color-bg-primary;
			background: $color-bg-primary;

			@include bp(xlarge) {
				&:hover {
					color: $color-text;
					border: 2px solid $color-border;
					background: transparent;
				}
			}
		}

		#u-register {
			cursor: pointer;
			margin-top: 20px;
			width: 100%;
			display: inline-block;
			text-align: center;
			color: $color-black;
			background: transparent;
			padding: 17px 30px;
			border: 1px solid rgba($color-black, .2);
			border-radius: 30px;
			transition: $global-transition;
			white-space: nowrap;
			outline: 0;
			font-size: 13px;

			&.active {
				//text-decoration: underline;
				opacity: 1;
				background-color: $color-black;
				color: $color-white;
				cursor: default;
			}
			&:hover {
				opacity: 1;
				background-color: $color-black;
				color: $color-white;
			}
		}

		.u-login__remember {
			width: 100%;
			margin-top: 16px;
		}
	}


	/* Register
   ========================================================================== */
	.u-register__inner {
		form.register {
			border: 0;
		}

		.u-register__heading {
			text-align: center;
		}

		.u-register__heading {
			margin-bottom: 100px;
		}


		.u-register__button {
			width: 100%;
			display: inline-block;
			padding: 16px 52px;
			color: $color-text-white;
			border: 2px solid $color-bg-primary;
			background: $color-bg-primary;
			border-radius: 30px;
			transition: $global-transition;
			white-space: nowrap;
			outline: 0;
			margin-top: 40px;

			@include bp(xlarge) {
				&:hover {
					color: $color-text;
					border: 2px solid $color-border;
					background: transparent;
				}
			}
		}

		#u-login {
			cursor: pointer;
			margin-top: 20px;
			width: 100%;
			display: inline-block;
			text-align: center;
			color: $color-black;
			background: transparent;
			padding: 17px 30px;
			border: 1px solid rgba($color-black, .2);
			border-radius: 30px;
			transition: $global-transition;
			white-space: nowrap;
			outline: 0;
			font-size: 13px;

			&.active {
				//text-decoration: underline;
				opacity: 1;
				background-color: $color-black;
				color: $color-white;
				cursor: default;
			}
			&:hover {
				opacity: 1;
				background-color: $color-black;
				color: $color-white;
			}
		}
	}

	.woocommerce-password-strength {
		margin-top: 6px;
	}

	.input-text.u-form__input-field {
		height: auto !important;
		min-height: auto !important;
		margin-bottom: 30px !important;

	}

	#afreg_additionalshowhide_3066,
	#afreg_additionalshowhide_3067 {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: flex-start;
		padding: 0;
		margin: 0;
		margin-bottom: 20px;

		label {
			line-height: 1;
		}

		.input-checkbox {
			margin-top: 1px;
		}
	}

}


/* Tabs
   ========================================================================== */
.login__tabs-header {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	max-width: 880px;
	margin: 50px auto 0;
	padding: 0 20px;
	flex-direction: column;

	@include bp (small) {
		flex-direction: row;
	}

	@include bp (medium) {
		padding: 0 40px;
	}
}

.u-login__tabs__buttons {
	margin: 20px 0;

	&:first-child {
		margin-left: 0;
	}

	@include bp (small) {
		margin: 20px;
	}

	a {
		opacity: 0.7;
		transition: all .2s;
		cursor: pointer;
		border: 1px solid $color-black;
		border-radius: 90px;
		padding: 20px;
		background-color: transparent;
		display: inline-block;
		text-align: center;
		font-weight: 600;
		min-width: 180px;

		&.active {
			//text-decoration: underline;
			opacity: 1;
			background-color: $color-black;
			color: $color-white;
			cursor: default;
		}
		&:hover {
			opacity: 1;
			background-color: $color-black;
			color: $color-white;
		}
	}
}
