// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 15px !default;
$global-opacity: 0.4;
$btn-transition: all 200ms linear !default;
$global-transition: all 200ms linear !default;
$decorartion: 100ms;

/* Fonts
   ========================================================================== */

$tt-norms: 'TT Norms Pro Regular', Arial, sans-serif !default;
$tt-norms-medium: 'TT Norms Pro Medium', Arial, sans-serif !default;


/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
  retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-black-text: #090321;
$color-yellow: #FFC764;
$color-blue: #F4F6FF;
$color-blue-dark: #090321;



$color-gray: #E2E0EA;
$color-gray-1: #848190;
$color-gray-2: #E8E8E8;
$color-gray-3: #CECECE;
$color-gray-4: #E9E9E9;
$color-gray-5: #F8F8F8;


// Text
$color-text: $color-black-text;
$color-text-white: $color-white;
$color-text-gray: $color-gray-1;

// Background
$color-bg: $color-blue;
$color-bg-primary: $color-yellow;
$color-bg-black: $color-black-text;
$color-bg-white: $color-white;
$color-bg-gray: $color-gray-5;

// Borders
$color-border: $color-yellow;
$color-border-black: $color-black-text;
$color-border-gray: $color-gray;
$color-border-gray-2: $color-gray-2;
$color-border-gray-3: $color-gray-3;
$color-border-gray-4: $color-gray-4;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Font Family
$text-family: $tt-norms;
$heading-family: $tt-norms-medium;