/* ==========================================================================
   #SPACING
   ========================================================================== */
/**
 * Simple spacing classes
 */

$sides: (
  '': '',
  't': 'top',
  'b': 'bottom',
  'l': 'left',
  'r': 'right',
);

$mediaquery: (
  '': '',
  'md': 1024px,
);

@each $breakName, $breakValue in $mediaquery {
  @each $sideName, $sideValue in $sides {
    @for $i from 0 through 10 {
      $property: if($sideName == '', '', -#{$sideValue});
      $space: $i * 10;
      $selector: '';

      @if $breakName != '' {
        $selector: #{$sideName}-#{$breakName}-#{$i};
      } @else {
        $selector: #{$sideName}-#{$i};
      }

      @if $breakName != '' {
        @media (min-width: $breakValue) {
          .m#{$selector} {
            margin#{$property}: #{$space}px;
          }

          .p#{$selector} {
            padding#{$property}: #{$space}px;
          }
        }
      } @else {
        .m#{$selector} {
          margin#{$property}: #{$space}px;
        }

        .p#{$selector} {
          padding#{$property}: #{$space}px;
        }
      }
    }
  }
}
