/* ==========================================================================
   # UNDERLINE / TOOLS
   ========================================================================== */
@mixin underline($color: #000000, $position: 7px, $height: 1px) {
  @include bp(xlarge) {
    a:after {
      content: '';
      background: none repeat scroll 0 0 transparent;
      bottom: $position;
      display: block;
      height: $height;
      left: 50%;
      position: absolute;
      background: $color;
      transition: width 200ms ease 0s, left 200ms ease 0s;
      width: 0px;
    }

    a:hover:after {
      width: 100%;
      left: 0;
    }
  }
}
