/* ==========================================================================
   # MY ACCOUNT / WOOCOMMERCE
   ========================================================================== */


.woocommerce-account {
   background-color: $color-bg-gray;
   
   .woocommerce {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
      max-width: 1480px;
      padding-top: 188px;
      padding-bottom: 100px;
   
      @include bp(large) {
          padding-left: 60px;
          padding-right: 60px;
      }
   }

   .u-my-account__nav {
      width: 26%;
   }

   .u-my-account__content {
      width: 74%;
   }

   .u-my-account__nav__ul {
      list-style: none;
   }

   .u-my-account__nav__li {
      width: 306px;
      height: 87px;
      text-align: center;
      border-radius: 20px;
      background-color: $color-bg-white;
      margin-bottom: 18px;

      &:last-of-type {
         margin-bottom: 0;
      }
      
      a {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100%;
         
      }
   }

   .u-my-account__content  {
      border-radius: 20px;
      background-color: $color-bg-white;
      padding: 46px 60px;
   }
}